.idea/
cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
cmake-build-release/
cmake-build-debug/
data/
cmake-build-relwithdebinfo-visual-studio/
arrangement/
src/test_unique_edge_map.cpp
src/test_mesh_boolean.cpp