.idea/
cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
cmake-build-release/
cmake-build-debug/
external/
PrimFit_Windows_Release_v1.0/
data/subset_abc_xyz/
SegGen/
external.zip
bin/

PrimFit_Windows_Release_v1.0.zip
